<div class="container">
  <h1>Welcome to JukeSpot!</h1>

  <% if !current_user %>
    <a href="/auth/spotify" class="positive ui button">authorize</a>
  <% end %>


  <p>
  <% if current_user %>
    <%= current_user.email %><br>
    <a href="/party/new" class="positive ui button">Start a Party</a><br>
    <a href="/logout" class="negative button ui">logz out</a>
  <% end %>
  </p>

</div>
